.hero-lockup {
  position: fixed;
  justify-content: center;
  z-index: -1;
}
.hero-eyebrow {
  color: rgb(86, 251, 86);
  margin: 110px 43vw 0 46vw;
  font-size: xx-large;
  font-weight: 600;
}

.hero-headline {
  margin: 0 193px 0 193px;
  color: white;
  font-size: 200px;
}

@media screen and (max-width: 1500px) {
  .hero-headline {
    margin: 50px 193px 0 250px;
    color: white;
    font-size: 130px;
  }
}

.hero-rebuilt {
  position: fixed;
  z-index: -4;
  margin: 250px 220px 0 217px;
  opacity: 0;
  color: white;
  font-size: 85px;
}

@media screen and (max-width: 1500px) {
  .hero-rebuilt {
    position: fixed;
    z-index: -4;
    margin: 230px 225px 0 265px;
    opacity: 0;
    color: white;
    font-size: 60px;
    align-self: center;
  }
}

.hero-announce {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
}
@media screen and (max-width: 1500px) {
  .hero-announce {
    margin: 100px 0px 0 0px;
  }
}

.hero-links {
  display: flex;
  justify-content: space-between;
  min-width: 450px;
}

.icon-copy {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
}

.icon-copy:hover {
  text-decoration: underline;
}

.icon-wrapper {
  text-decoration: none;
}
