.nav-global {
  width: 100%;
  height: 44px;
  position: relative;
  z-index: 9999;
  display: flex;
  justify-content: center;
}
.nav-container {
  max-width: 980px;
  min-width: 980px;
}
.nav-menu {
  padding: 0 12px 0 12px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
}
.nav-link {
  height: 44px;
  display: flex;
  opacity: 80%;

  align-self: center;
  text-align: center;
}
.link-a {
  padding: 14px 0 9px 0;
  font-family: auto;
  font-size: small;
  color: white;
  text-decoration: none;
}
.logo {
  padding: 0 10px 0 10px;
  background-image: url("be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_apple_image__b5er5ngrzxqq_large.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 44px;
  align-self: center;
}
.search {
  background-image: url("be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__cbllq1gkias2_large.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 44px;
  align-self: center;
}
.bag {
  background-image: url("be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_bag_image__yzte50i47ciu_large.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 44px;
  align-self: center;
}

.nav-link:hover {
  opacity: 100%;
}
